# This is Minimal Linux Live configuration.
# See https://github.com/ivandavidov/minimal/blob/15-Dec-2019/src/.config for reference.

KERNEL_SOURCE_URL=https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.4.3.tar.xz
GLIBC_SOURCE_URL=https://ftp.gnu.org/gnu/glibc/glibc-2.31.tar.bz2
BUSYBOX_SOURCE_URL=https://busybox.net/downloads/busybox-1.32.1.tar.bz2
SYSLINUX_SOURCE_URL=https://cdn.kernel.org/pub/linux/utils/boot/syslinux/syslinux-6.03.tar.xz
SYSTEMD-BOOT_SOURCE_URL=https://github.com/ivandavidov/systemd-boot/releases/download/systemd-boot_26-May-2018/systemd-boot_26-May-2018.tar.xz

FIRMWARE_TYPE=uefi

USE_PREDEFINED_KERNEL_CONFIG=false
USE_PREDEFINED_BUSYBOX_CONFIG=false

OVERLAY_TYPE=folder
OVERLAY_BUNDLES=
OVERLAY_LOCATION=iso

USE_LOCAL_SOURCE=false
USE_BOOT_LOGO=true

JOB_FACTOR=1
CFLAGS=-Os -s -fno-stack-protector -fomit-frame-pointer -U_FORTIFY_SOURCE